body{
    background-color:black;
    }
h1{
    text-transform: uppercase;
    font-size: 3rem;
    

}
.container{
    width: 50%;
    margin-left: 25%;
    color: white;
    font-family: "Libre Baskerville", serif;
    text-align: center;
    margin-top: 100px;

}
.img-motivational{
    border: 5px solid white;
    width: 100%;
    
}